*{
    font-family: Calibri;
}
nav{
    border-bottom: solid 2px;
    min-height: 70px;
}
nav ul{
    list-style: none;
}
nav li a{
    float: left;
    margin: 15px;
    text-decoration: none;
    color: #222222;
}
nav li a:hover{
    color: #007bff;
    text-decoration: none;
}
h1{
    margin: 20px 0 10px 0;
    font-size: 28px;
}
h2{
    font-size: 24px;
}
input{
    margin: 0 0 10px 0;
}
footer{
    clear: both;
    border-top: solid 2px;
}
table{
    margin-top: 10px;
}
table td{
    vertical-align: top;
    padding-top: 10px;
    min-width: 100px;
}
img{
  max-width: 100%;
}
footer{
  margin-top: 40px;
}
main{
  margin-top: 40px;
}
form{
    margin-top: 20px;
}

/* Custom */

#passwordMessage{
    color: red !important;
    margin: 10px 0 10px 0;
}

.success{
    color: #
}

.menubuttons{
    float: right;
    margin: 10px 20px 10px 20px;
}

.profiletable{
    padding-left: 5px;
}

.active{
  color: #007bff;
  font-weight: 600;
}

.homepage{
  background-color: black;
  background-image: url("/bunjii/images/cover.jpg");
  margin-top: -40px;
  background-size: cover;
  min-height: 600px;
}

.signupcontent{
  background-color: black;
  background-image: url("/bunjii/images/signup.jpeg");
  margin-top: -40px;
  background-size: cover;
  min-height: 600px;
}

.mainscreen{
   padding-top: 150px;
   color: #fff;
}

.mainscreen h1{
  font-size: 52px;
}

.mainform{
  margin-top: 40px;
}

.introcontent{
  padding: 0 40px 20px 40px;
  border-radius: 7px;
}

/* Bootstrap Changes */

.btn{
    width: 100px;
    height: 35px;
}

textarea.form-control {
    height: 200px;
}
